<div class="reviews">

<li style="list-style-type:none">
  <div class="col-md-4">
  <img class="profile-pic" src="{{review.profile}}"> <br>
  Author: {{review.author}} <br>
  City: {{review.city}} <br>
  Content: {{review.content}} <br>
  Rating: {{review.rating}} <br>
  Answer: {{review.answer}} <br>
  <img class="image1" src="{{review.image}}">
  </div>
</li>


<button {{action 'delete' review}}> Delete</button>
</div>
