<div class="reviews">
<li style="list-style-type:none"><img class="profile-pic" src="{{review.profile}}"> <br> Author: {{review.author}} <br> City: {{review.city}} <br> Content: {{review.content}} <br> Rating: {{review.rating}} <br> Answer: {{review.answer}} <br> <img class="image1" src="{{review.image}}">
</li>

<button {{action 'delete' review}}> Delete</button>
</div>
