<div class="reviews">
<p><img class="profile-pic" src="{{model.profile}}"> <br> Author: {{model.author}} <br></p>

{{update-message message=model update="update"}}

<!-- {{message-detail message=model update="update"}} -->

{{message-detail message=model destroyMessage="destroyMessage" destroyReview="destroyReview"}}

{{new-review saveReview="saveReview" message=model}}
</div>
